<div class="row">
    <div class="col-lg-12">
        <h3>Startseite</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <tda-user-login></tda-user-login>
    </div>
    <!--<div class="col-lg-8 col-lg-offset-2">
        <div class="btn-group btn-group-justified" role="group" style="margin-bottom: 10px;">
            <a class="btn btn-default" role="button" ui-sref="login.signin" ui-sref-active="active">Anmelden</a>
            <a class="btn btn-default" role="button" ui-sref="login.signup" ui-sref-active="active">Registrieren</a>
        </div>
    </div>-->
</div>